*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 65.5%; //1rem = 10px
    font-family: $default;
}

body {
    box-sizing: border-box;
    padding: 3rem;
    color: $black;
    background: url(./images/background__app.jpg);
    background-repeat: no-repeat;
    background-size: 400px;
    background-attachment: fixed;
    background-position: right top;
}

@media (min-width: 700px) {
    body {
        background-size: 750px;
    }
}
