.primary-heading {
    font-size: 8rem;
    padding: 2rem;
    background-image: linear-gradient(to right, $yellow, $dark-yellow);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 3px $light-blue;
}
