.primary-heading {
    font-size: 8rem;
    padding: 2rem;
    background-image: linear-gradient(to right, $yellow, $dark-yellow);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 3px $light-blue;
}

.home__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: left;
    margin-top: 90px;
}

.bigbutton__title {
    color: $pure-white;
    font-weight: bold;
    font-size: 24px;
    padding: 37px 0 13px 0;
}

.button__title {
    color: $pure-white;
    font-weight: bold;
    font-size: 20px;
    padding: 37px 0 13px 0;

    &--typechart {
        padding: 0;
    }
}