//HOME
.header {
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: left;
    margin-top: 90px;

    &__pokedex {
        margin-top: 5px;
        font-size: 30px;
    }
}

.bigbutton__title {
    color: $pure-white;
    font-weight: bold;
    font-size: 24px;
    padding: 37px 0 13px 0;
}

.button__title {
    color: $pure-white;
    font-weight: bold;
    font-size: 20px;
    padding: 37px 0 13px 0;

    &--typechart {
        padding-top: 13px;
    }
}

//POKEDEX
.card__title {
    color: $pure-white;
    font-weight: normal;

}