.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
}
.nav-button {
    border: none;
    color: #fff;
    background: black ;
    padding: 15px;
}
.nav-link {
    color: #fff;
    text-decoration: none;
}



