//COLORS
$pure-white: #fff;
$white: #ebebeb; 
$black: #0e1111; 

$gray-light-1: #f7f7f7;
$gray-light-2: #eee;


$green-button: #5EBF62;
$red-button: #F7776A;
$blue-button: #59A9F2;
$yellow-button: #FFCE4B;
$purple-button: #B862CF;

//FONTS

$default: 'Rubik', sans-serif;

//TYPES
$normal: #B6B6A8;
$grass: #8BD44F; 
$fire: #FA5543;
$water: #56AEFF;
$fighting: #A75543;
$flying: #79A4FF;
$poison: #A15899;
$ground: #EDCB56;
$rock: #CDBC72;
$bug: #C2D120;
$ghost: #7773D4;
$electric: #FEE63E; 
$psychic : #F461B0;
$ice: #96F1FF;
$dragon: #8975FF;
$dark: #8F6956;
$steel: #C4C2DB;
$fairy: #FAADFF;

//OLD

$dark-blue: #3c5aa6;
$light-blue: #2a75bb;
$yellow: #ffcb05;
$dark-yellow: #c7a008;

$gray: #777;

$gray-dark-1: #999;
$gray-dark-2: #333;
