//COLORS
$pure-white: #fff;
$white: #ebebeb; 
$black: #0e1111; 

$gray-light-1: #f7f7f7;
$gray-light-2: #eee;


$green-button: #5EBF62;
$red-button: #F7776A;
$blue-button: #59A9F2;
$yellow-button: #FFCE4B;
$purple-button: #B862CF;

//FONTS

$default: 'Rubik', sans-serif;



//OLD

$dark-blue: #3c5aa6;
$light-blue: #2a75bb;
$yellow: #ffcb05;
$dark-yellow: #c7a008;

$gray: #777;

$gray-dark-1: #999;
$gray-dark-2: #333;
