//COLORS
$pure-white: #fff;
$white: #ebebeb; 
$black: #0e1111; 

$gray-light-1: #f7f7f7;
$gray-light-2: #eee;


$green-button: #5EBF62;
$red-button: #F7776A;
$blue-button: #59A9F2;
$yellow-button: #FFCE4B;
$purple-button: #B862CF;

//FONTS

$default: 'Rubik', sans-serif;

//TYPES
$normal: #cacabf;
$grass: #49D0B0; 
$fire: #f7776a;
$water: #74BBFF;
$fighting: #B1736A;
$flying: #9bbbff;
$poison: #7B548D;
$ground: #e7d390;
$rock: #c9c098;
$bug: #c7cf71;
$ghost: #8d8ac8;
$electric: #ffce4b; 
$psychic : #ef94c5;
$ice: #bef6fe;
$dragon: #ac9efe;
$dark: #867972;
$steel: #C4C2DB;
$fairy: #f9d0fc;

//OLD

$dark-blue: #3c5aa6;
$light-blue: #2a75bb;
$yellow: #ffcb05;
$dark-yellow: #c7a008;

$gray: #777;

$gray-dark-1: #999;
$gray-dark-2: #333;
