.movesCard {
    font-size: 1.4rem;
    box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    &__menu {
        display: flex;
        justify-content: space-between;
        padding: 0;

        &--active {
            color: $pure-white;
            font-size: 1.4rem;
            text-align: center;
            text-transform: capitalize;
            background: $hightlight;
            border-radius: 10px;
            padding: 0.2rem;
            margin: 0 0 2rem 0;
            min-width: 6rem;

        }

        &--inactive {
            color: $text;
            font-size: 1.4rem;
            text-align: center;
            text-transform: capitalize;
            background: none;
            border: 1px solid  #B3B3B3;
            border-radius: 10px;
            padding: 0.2rem;
            margin: 0 0 2rem 0;
            min-width: 6.5rem;
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 2rem;
        
        background: $gray-light-1;
        color: $title-darker;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 2rem;
        font-weight: 400;
        text-align: center;

        text-transform: capitalize;
    }

    &__type {
        width: 80%;
        color: $pure-white;
        background: $title;
        margin-right: 1rem;
        border-radius: 10px;
        text-transform: uppercase;
        font-style: italic;
        font-size: 1.2rem;
        padding: 0.5rem;

        &--normal {
            background: $normal;
        }
        &--grass {
            background: $grass;
        }
        &--fire {
            background: $fire;
        }
        &--water {
            background: $water;
        }
        &--fighting {
            background: $fighting;
        }
        &--flying {
            background: $flying;
        }
        &--poison {
            background: $poison;
        }
        &--ground {
            background: $ground;
        }
        &--rock {
            background: $rock;
        }
        &--bug {
            background: $bug;
        }
        &--ghost {
            background: $ghost;
        }
        &--electric {
            background: $electric;
        }
        &--psychic {
            background: $psychic;
        }
        &--ice {
            background: $ice;
        }
        &--dragon {
            background: $dragon;
        }
        &--dark {
            background: $dark;
        }
        &--steel {
            background: $steel;
        }
        &--fairy {
            background: $fairy;
        }

    }

    &__damage {
        width: 30%;
        color: $pure-white;
        background: $black;
        margin-left: 1rem;
        border-radius: 10px;
        text-transform: uppercase;
        font-style: italic;
        font-size: 1.2rem;
        padding: 0.5rem;

        &--physical {
            background: $physical;
        }
        &--special {
            background: $special;
        }
        &--status {
            background: $status;
        }
    }

    &__description {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $title-darker;
        font-size: 1.2rem;
        padding: 0.5rem 2rem 1rem 2rem;

    }
    
}