.card {
    display: flex;
    flex-direction: column;
    background-color: $white;
    transition: all 0.2s;
    border-radius: 10px;
    text-decoration: none;
    min-width: 48.5%;
    margin-top: 8px;
    padding: 10px 20px 10px 20px;

    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        flex-flow: row nowrap;
        
    }

    &__content {
        display: flex;
        justify-content: space-between;
        
    }

    &__title {
        color: $pure-white;
        font-weight: normal;
        font-size: 16px;
        text-transform: capitalize;
    }

    &__types {
        display: flex;
        flex-direction: column;
    }

    &__type {
        color: $pure-white;
        text-transform: capitalize;
        border-radius: 5px;
        background:rgba($black, 0.1);
        padding: 3px 7px;
        margin-top: 5px;
    }

    &__type--null {
        display: none;
    }

    &__id {
        color: $pure-white;
        font-weight: normal;
    }

    &__img {
        height: 6rem;
        width: 6rem;
        bottom: 50px;        
    }

    &:hover {
        transform: translateY(-3px);
        cursor: pointer;
    }

    &:active,
    &:focus {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($black, 0.35);
    }
}

