.card {
    display: flex;
    background-color: $gray;
    transition: all 0.2s;
    border-radius: 10px;
    text-decoration: none;
    min-width: 48.5%;
    margin-top: 8px;

    &__title {
        color: $pure-white;
        font-weight: bold;
        font-size: 16px;
    }

    &__img {
        height: 7rem;
        width: 7rem;
    }

    &:hover {
        transform: translateY(-3px);
        cursor: pointer;
    }

    &:active,
    &:focus {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($black, 0.35);
    }
}

