.lazyload-wrapper {
    display: flex;
    flex-direction: column;
    background-color: none;
    transition: all 0.2s;
    border-radius: 10px;
    text-decoration: none;
    min-width: 48.5%;
    margin-top: 8px;
}

.more {
    display: flex;
    justify-content: center;
    &__pokemon {
        display: flex;
        justify-content: center;
        background-color: $black;
        font-size: 40px;
        font-weight: bold;
        color: $pure-white;
        transition: all 0.2s;
        border-radius: 200px;
        text-decoration: none;
        margin: 30px 0 30px 0;
        padding: 10px;
        min-width: 68px;
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
        
        &:hover {
            transform: translateY(-3px);
            cursor: pointer;
        }
        &:active,
        &:focus {
            transform: translateY(-1px);
            box-shadow: 0 0.5rem 1rem rgba($black, 0.35);
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    background-color: $white;
    background-size: 140%;
    max-width: 600px;
    background-position: bottom right;
    transition: all 0.2s;
    border-radius: 10px;
    text-decoration: none;
    min-width: 48.5%;
    margin-top: 8px;
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);

    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        flex-flow: row nowrap;     
    }
    
    &__content {
        display: flex;
        justify-content: space-between;
        
    }

    &__title {
        color: $pure-white;
        font-weight: normal;
        font-size: 16px;
        text-transform: capitalize;
    }

    &__types {
        display: flex;
        flex-direction: column;
    }

    &__type {
        color: $pure-white;
        text-transform: capitalize;
        border-radius: 5px;
        background:rgba($black, 0.1);
        padding: 3px 7px;
        margin-top: 5px;
    }

    &__type--null {
        display: none;
    }

    &__id {
        color: rgba($pure-white, 0.7);
        font-weight: normal;
        font-size: 16px;
    }

    &__img {
        height: 6rem;
        width: 6rem;
        bottom: 50px;        
    }

    &__normal {
        background: url("./images/types/normal.jpg");
        background-size: 110%;
        background-repeat: no-repeat;
        background-position: bottom right;
        box-shadow: 0px 4px 5px rgba($normal, 0.5)
    }
    &__grass {
        background: url("./images/types/grass.jpg");
        background-size: 140%;
        background-repeat: no-repeat;
        background-position: bottom right;
        box-shadow: 0px 4px 5px rgba($grass, 0.5)
    }
    &__fire {
        background: url("./images/types/fire.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: bottom right; 
        box-shadow: 0px 4px 5px rgba($fire, 0.5)   
    }
    &__water {
        background: url("./images/types/water.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 5px rgba($water, 0.5)   
    }
    &__fighting {
        background: url("./images/types/fighting.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 5px rgba($fighting, 0.5)   
    }
    &__flying {
        background: url("./images/types/flying.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 5px rgba($flying, 0.5)   
    }
    &__poison {
        background: url("./images/types/poison.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 5px rgba($poison, 0.5)   
    }
    &__ground {
        background: url("./images/types/ground.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 5px rgba($ground, 0.5)   
    }
    &__rock {
        background: url("./images/types/rock.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 5px rgba($rock, 0.5)   
    }
    &__bug {
        background: url("./images/types/bug.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 5px rgba($bug, 0.5)   
    }
    &__ghost {
        background: url("./images/types/ghost.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 5px rgba($ghost, 0.5)   
    }
    &__electric {
        background: url("./images/types/electric.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 5px rgba($electric, 0.5)   
    }
    &__psychic {
        background: url("./images/types/psychic.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 5px rgba($psychic, 0.5)   
    }
    &__ice {
        background: url("./images/types/ice.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 5px rgba($ice, 0.5)   
    }
    &__dragon {
        background: url("./images/types/dragon.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 5px rgba($dragon, 0.5)   
    }
    &__dark {
        background: url("./images/types/dark.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 5px rgba($dark, 0.5)   
    }    
    &__steel {
        background: url("./images/types/steel.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 5px rgba($steel, 0.5)   
    }
    &__fairy {
        background: url("./images/types/fairy.jpg");
        background-size: 120%;
        background-repeat: no-repeat;
        box-shadow: 0px 4px 5px rgba($fairy, 0.5)   
    }

    &:hover {
        transform: translateY(-3px);
        cursor: pointer;
    }

    &:active,
    &:focus {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($black, 0.35);
    }
}



@media (max-width: 400px) {
    .card {
        background-size: 130%;
        background-position: bottom right; 

    }
}

@media (min-width: 750px) {
    .card {
        min-width: 32%;
    }
}
@media (min-width: 1000px) {
    .card {
        min-width: 24%;
    }
}
@media (min-width: 1200px) {
    .card {
        min-width: 19%;
    }
}