.pokemon {
    margin: 0 1rem 0 1rem;

    &__img {
        height: 15rem;
        width: 15rem;
        bottom: 50px; 
        
        &--wrapper {
            display: flex;
            justify-content: center;
        }
    }

    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: capitalize;
        font-size: 1.6rem;
        color: $pure-white;
        padding: 0 3rem 0 3rem;
    }

    &__types {
        display: flex;
        justify-content: space-between;
        padding: 0 3rem 0 3rem;
    }

    &__type {
        color: $pure-white;
        text-transform: capitalize;
        border-radius: 20px;
        background:rgba($pure-white, 0.2);
        padding: 0.5rem 1rem;
        margin: 1rem 1rem 0 0;
        font-size: 1.4rem;

        &--null {
            display: none;
        }
    }

    &__genus {
        color: $pure-white;
        font-size: 1.2rem;
        text-align: end;
        width: 80%;
    }

    &__background {
        background: $grass;
    }

    // CONTENT AND INFORMATION
    &__content {
        padding: 0 2.5rem;
        background: $pure-white;
    }

    &__menu {
        display: flex;
        justify-content: space-between;
        border-radius: 30px 30px 0 0;
        padding: 3.5rem 2.5rem 0 2.5rem;
        background: $pure-white;

    }

    &__info {
        font-size: 1.4rem;
        text-align: justify;
        text-justify: auto;
        color: $text;
        padding: 0;
    }

    &__description {
        margin: 1rem 0 1rem 0;
        font-size: 1.4rem;
    }

    &__container {
        display: flex;
        justify-content: space-around;
        box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        padding: 1.5rem 0 1.5rem 0;
        margin: 1.5rem 0 2.5rem 0;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;    
    }

    &__title {
        font-size: 1.4rem;
        font-weight: bold;
        color: $title;
        margin-bottom: 1rem;

        &--strong {
            color: $text;
        }

        &--medium {
            color: $text;
            font-size: 1.4rem;
            font-weight: 400;
        }

        &--menu {
            cursor: pointer;
            &:hover {
                color: $text;
            }
        }
        &--active {
            color: $text;
            border-bottom: 3px solid $hightlight;
            padding-bottom: 1rem;
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

    &__result {
        color: $text;
        font-size: 1.4rem;
        text-align: center;
        text-transform: capitalize;
        background: #F2F2F2;
        border-radius: 10px;
        padding: 0.2rem;
        min-width: 48%;
        margin-bottom: 1rem;
        
        &--inactive {
            background: none;
            border: 1px solid  #B3B3B3;
        }
    }
}

.back {
    display: flex;
    flex-direction: column;
    background-color: $white;
    text-decoration: none;
    background-size: 160%;

    &__normal {
        background: url("./images/types/normal.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__grass {
        background: url("./images/types/grass.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__fire {
        background: url("./images/types/fire.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__water {
        background: url("./images/types/water.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__fighting {
        background: url("./images/types/fighting.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__flying {
        background: url("./images/types/flying.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__poison {
        background: url("./images/types/poison.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__ground {
        background: url("./images/types/ground.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__rock {
        background: url("./images/types/rock.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__bug {
        background: url("./images/types/bug.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__ghost {
        background: url("./images/types/ghost.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__electric {
        background: url("./images/types/electric.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__psychic {
        background: url("./images/types/psychic.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__ice {
        background: url("./images/types/ice.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__dragon {
        background: url("./images/types/dragon.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__dark {
        background: url("./images/types/dark.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }    
    &__steel {
        background: url("./images/types/steel.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
    &__fairy {
        background: url("./images/types/fairy.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: top right;
    }
}