.stats {
    font-size: 1.4rem;
    text-transform: capitalize;

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 16.5vh;
        margin: 1rem 0;
    }
}